{{!--

login form handlebar template

--}}

<h1>Sign In</h1>

<form id="signin-form" action="/login" method="POST">

<div class="Error">
  {{#if Error}}
  <p style="color: red;">
    {{Error}}
  </p>
  {{/if}}
  <p style="color: red;"  id="error_message"> </p>
</div>

  <div>
    <label for="userId">User ID:</label>
    <input type="text" id="userId" name="userId" required>
  </div>
  
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
  </div>
  
  <div>
    <button type="submit" id="submit_button" name="submit_button">Sign In</button>
  </div>
</form>

<p>
  Don't have an account? <a href="/register">Click here to signup!</a>
</p>